<ul class="nav">
    <li class="nav-item  ">
        <a class="nav-link" href="/Home/Index">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/User/list">
            <i class="material-icons">person</i>
            <p>Users</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/User/New">
            <i class="material-icons">content_paste</i>
            <p>User Table</p>
        </a>
    </li>
    
    <li class="nav-item ">
        <a class="nav-link" href="/Home/New">
            <i class="material-icons">bubble_chart</i>
            <p>Post</p>
        </a>
    </li>
  
    <li class="nav-item ">
        <a class="nav-link" href="/Home/Notifications">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
        </a>
    </li>

</ul>